<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fraalepal.helloworldblog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logonombre"
        android:label="helloWorld!"
        android:roundIcon="@drawable/logonombre"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Java.CommentsJavaActivity"></activity>
        <activity android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Python.CommentsPythonActivity"></activity>
        <activity android:name="com.fraalepal.helloworldblog.Vistas_Controladores.JavaScript.CommentsJavascriptActivity"></activity>
        <activity android:name="com.fraalepal.helloworldblog.Vistas_Controladores.TypeScript.CommentsTypescriptActivity"></activity>
        <activity android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Go.CommentsGoActivity"></activity>
        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Java.MainJavaActivty"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Python.MainPythonActivty"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.JavaScript.MainJavascriptActivty"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.TypeScript.MainTypescriptActivty"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Go.MainGoActivty"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.fraalepal.helloworldblog.Perfil.LoginActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name="com.fraalepal.helloworldblog.Perfil.RegisterActivity" />
        <activity android:name="com.fraalepal.helloworldblog.Perfil.SetupActivity" />
        <activity android:name="com.fraalepal.helloworldblog.Perfil.WelcomeActivity" >

        </activity>
        <activity android:name="com.fraalepal.helloworldblog.Vistas_Controladores.LandingPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Java.PostJavaActivity"
            android:parentActivityName="com.fraalepal.helloworldblog.Vistas_Controladores.Java.MainJavaActivty" >

        </activity>
        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Python.PostPythonActivity"
            android:parentActivityName="com.fraalepal.helloworldblog.Vistas_Controladores.Python.MainPythonActivty" >
        </activity>
        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.JavaScript.PostJavascriptActivity"
            android:parentActivityName="com.fraalepal.helloworldblog.Vistas_Controladores.JavaScript.MainJavascriptActivty" >

        </activity>

        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.TypeScript.PostTypescriptActivity"
            android:parentActivityName="com.fraalepal.helloworldblog.Vistas_Controladores.TypeScript.MainTypescriptActivty" >

        </activity>

        <activity
            android:name="com.fraalepal.helloworldblog.Vistas_Controladores.Go.PostGoActivity"
            android:parentActivityName="com.fraalepal.helloworldblog.Vistas_Controladores.Go.MainGoActivty" >

        </activity>
    </application>

</manifest>